import AssemblyKeys._ // put this at the top of the file
import com.github.siasia.PluginKeys._ 

assemblySettings

organization := "{{groupId}}"

seq(webSettings :_*)

mainClass in assembly := Some("JettyMain")

name := "{{artifactId}}"

version := "{{artifactVersion}}"

scalaVersion := "2.10.0"

libraryDependencies ++= Seq(
  "org.scalatest"           %% "scalatest"                      % "1.9.1"             % "test",
  "org.scalatra"            %% "scalatra"                       % "2.3.0-SNAPSHOT",
  "org.scalatra"            %% "scalatra-swagger"               % "2.3.0-SNAPSHOT",
  "org.json4s"              %% "json4s-jackson"                 % "3.2.5",
  "org.json4s"              %% "json4s-ext"                     % "3.2.5",
  "org.scala-lang"           % "scalap"                         % "2.10.0",
  "commons-codec"            % "commons-codec"                  % "1.7",
  "org.eclipse.jetty"        % "jetty-server"                   % "8.1.7.v20120910" % "container;provided",
  "org.eclipse.jetty"        % "jetty-webapp"                   % "8.1.7.v20120910" % "container;provided",
  "org.eclipse.jetty.orbit"  % "javax.servlet"                  % "3.0.0.v201112011016" % "container;compile;provided;test" artifacts (Artifact("javax.servlet", "jar", "jar"))
)

resolvers += "Local Maven Repository" at "file://"+Path.userHome.absolutePath+"/.m2/repository"

resolvers += "Sonatype OSS Snapshots" at "http://oss.sonatype.org/content/repositories/snapshots/"

resolvers += "Sonatype OSS Releases" at "http://oss.sonatype.org/content/repositories/releases/"

ivyXML := <dependencies>
    <exclude module="slf4j-log4j12"/>
    <exclude module="grizzled-slf4j_2.9.1"/>
    <exclude module="jsr311-api" />
  </dependencies>

mergeStrategy in assembly <<= (mergeStrategy in assembly) { (old) =>
  {
    case "about.html"     => MergeStrategy.discard
    case x => old(x)
  }
}